Repository zinongli/flipperzero-firmware, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DrZlo13, @hedger, @gsurkov, @gornekich, @nminaylov, @Skorpionm, @portasynthinca3

delete unnecessary debug log
  lib/nfc/protocols/felica/felica_poller_i.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

Load: safer way to handle backward compatibility
  applications/main/nfc/helpers/protocol_support/felica/felica_render.c
  lib/nfc/protocols/felica/felica.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

format
  applications/main/nfc/helpers/protocol_support/felica/felica_render.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

handle block reading according to IC type
  lib/nfc/protocols/felica/felica.c
  lib/nfc/protocols/felica/felica.h
  lib/nfc/protocols/felica/felica_i.c
  lib/nfc/protocols/felica/felica_i.h
  lib/nfc/protocols/felica/felica_poller.c
  lib/nfc/protocols/felica/felica_poller_i.h
  targets/f7/api_symbols.csv
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich, @nminaylov

read block content works. rendering begin
  applications/main/nfc/helpers/protocol_support/felica/felica_render.c
  lib/nfc/protocols/felica/felica.h
  lib/nfc/protocols/felica/felica_poller.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

Render Refactor: dir & dump view from submenu
  applications/main/nfc/helpers/protocol_support/felica/felica.c
  applications/main/nfc/helpers/protocol_support/felica/felica_render.c
  applications/main/nfc/helpers/protocol_support/felica/felica_render.h
  applications/main/nfc/scenes/nfc_scene_config.h
  applications/main/nfc/scenes/nfc_scene_felica_more_info.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

Render: show IC type name
  applications/main/nfc/helpers/protocol_support/felica/felica_render.c
  lib/nfc/protocols/felica/felica.c
  lib/nfc/protocols/felica/felica.h
  targets/f7/api_symbols.csv
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich, @nminaylov

IC parsing function cleanup
  applications/main/nfc/helpers/protocol_support/felica/felica_render.c
  lib/nfc/protocols/felica/felica.c
  lib/nfc/protocols/felica/felica.h
  lib/nfc/protocols/felica/felica_poller.c
  targets/f7/api_symbols.csv
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich, @nminaylov

Revert "IC parsing function cleanup"
  applications/main/nfc/helpers/protocol_support/felica/felica_render.c
  lib/nfc/protocols/felica/felica.c
  lib/nfc/protocols/felica/felica.h
  lib/nfc/protocols/felica/felica_poller.c
  targets/f7/api_symbols.csv
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich, @nminaylov

Load: Standard dump. Fully backward compatible
  lib/nfc/protocols/felica/felica.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

format
  lib/nfc/protocols/felica/felica.c
  lib/nfc/protocols/felica/felica_poller.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

sync API version
  targets/f7/api_symbols.csv
Owners: @DrZlo13, @hedger, @gsurkov, @nminaylov

format saved file
  lib/nfc/protocols/felica/felica.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

delete unused variable
  lib/nfc/protocols/felica/felica.c
  lib/nfc/protocols/felica/felica.h
  lib/nfc/protocols/felica/felica_poller.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

clean ups
  lib/nfc/protocols/felica/felica.c
  lib/nfc/protocols/felica/felica_poller.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

IC type addition
  lib/nfc/protocols/felica/felica.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

correction
  lib/nfc/protocols/felica/felica.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

beautify attribute parsing
  lib/nfc/protocols/felica/felica.c
  lib/nfc/protocols/felica/felica.h
  targets/f7/api_symbols.csv
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich, @nminaylov

correction
  lib/nfc/protocols/felica/felica.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

Lite save: delete extra line
  lib/nfc/protocols/felica/felica.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

type/brand parse
  applications/main/nfc/application.fam
  applications/main/nfc/plugins/supported_cards/aic.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

debug
  applications/main/nfc/plugins/supported_cards/aic.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

decryptions
  applications/main/nfc/plugins/supported_cards/aic.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

corrections
  applications/main/nfc/plugins/supported_cards/aic.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

comments
  applications/main/nfc/plugins/supported_cards/aic.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

AIC access code decryption and CRC check
  applications/main/nfc/plugins/supported_cards/aic.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

easier than we thought! only acc_code[0] == 5 needs parsing
  applications/main/nfc/plugins/supported_cards/aic.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

finishing touches
  applications/main/nfc/plugins/supported_cards/aic.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

can't support serial number decode
  applications/main/nfc/plugins/supported_cards/aic.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

Revert "can't support serial number decode"
  applications/main/nfc/plugins/supported_cards/aic.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

serial number CAN be decrypted
  applications/main/nfc/plugins/supported_cards/aic.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

format
  applications/main/nfc/plugins/supported_cards/aic.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

print fix
  applications/main/nfc/plugins/supported_cards/aic.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

fix CRC check
  applications/main/nfc/plugins/supported_cards/aic.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

seems to be working
  applications/main/nfc/application.fam
  applications/main/nfc/plugins/supported_cards/banapass.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

correction: FeliCa link in Lite-S mode
  lib/nfc/protocols/felica/felica.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

format
  lib/nfc/protocols/felica/felica.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

Save: simplify printing
  lib/nfc/protocols/felica/felica.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

faster reading
  applications/main/nfc/plugins/supported_cards/banapass.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

update IC type parsing
  lib/nfc/protocols/felica/felica.c
Owners: @DrZlo13, @hedger, @gsurkov, @gornekich

.github/CODEOWNERS:

# Who owns all the fish by default
* @DrZlo13 @hedger @gsurkov

# Apps
/applications/debug/bt_debug_app/ @DrZlo13 @hedger @gsurkov @gornekich
/applications/debug/accessor/ @DrZlo13 @hedger @gsurkov @nminaylov
/applications/debug/battery_test_app/ @DrZlo13 @hedger @gsurkov @gornekich
/applications/debug/bt_debug_app/ @DrZlo13 @hedger @gsurkov @gornekich
/applications/debug/file_browser_test/ @DrZlo13 @hedger @gsurkov @nminaylov
/applications/debug/lfrfid_debug/ @DrZlo13 @hedger @gsurkov @nminaylov
/applications/debug/text_box_test/ @DrZlo13 @hedger @gsurkov @nminaylov
/applications/debug/uart_echo/ @DrZlo13 @hedger @gsurkov @nminaylov
/applications/debug/usb_mouse/ @DrZlo13 @hedger @gsurkov @nminaylov
/applications/debug/usb_test/ @DrZlo13 @hedger @gsurkov @nminaylov

/applications/main/archive/ @DrZlo13 @hedger @gsurkov @nminaylov
/applications/main/bad_usb/ @DrZlo13 @hedger @gsurkov @nminaylov
/applications/main/gpio/ @DrZlo13 @hedger @gsurkov @nminaylov
/applications/main/ibutton/ @DrZlo13 @hedger @gsurkov
/applications/main/infrared/ @DrZlo13 @hedger @gsurkov
/applications/main/nfc/ @DrZlo13 @hedger @gsurkov @gornekich
/applications/main/subghz/ @DrZlo13 @hedger @gsurkov @Skorpionm
/applications/main/u2f/ @DrZlo13 @hedger @gsurkov @nminaylov

/applications/services/bt/ @DrZlo13 @hedger @gsurkov @gornekich
/applications/services/cli/ @DrZlo13 @hedger @gsurkov @nminaylov @portasynthinca3
/applications/services/crypto/ @DrZlo13 @hedger @gsurkov @nminaylov
/applications/services/desktop/ @DrZlo13 @hedger @gsurkov @nminaylov
/applications/services/dolphin/ @DrZlo13 @hedger @gsurkov @nminaylov
/applications/services/power/ @DrZlo13 @hedger @gsurkov @gornekich
/applications/services/rpc/ @DrZlo13 @hedger @gsurkov @nminaylov

/applications/services/bt_settings_app/ @DrZlo13 @hedger @gsurkov @gornekich
/applications/services/desktop_settings/ @DrZlo13 @hedger @gsurkov @nminaylov
/applications/services/dolphin_passport/ @DrZlo13 @hedger @gsurkov @nminaylov
/applications/services/power_settings_app/ @DrZlo13 @hedger @gsurkov @gornekich

/applications/system/storage_move_to_sd/ @DrZlo13 @hedger @gsurkov @nminaylov
/applications/system/js_app/ @DrZlo13 @hedger @gsurkov @nminaylov @portasynthinca3

/applications/debug/unit_tests/ @DrZlo13 @hedger @gsurkov @nminaylov @gornekich @Skorpionm

/applications/examples/example_thermo/ @DrZlo13 @hedger @gsurkov

# Firmware targets
/targets/ @DrZlo13 @hedger @gsurkov @nminaylov

# Assets
/applications/main/infrared/resources/ @DrZlo13 @hedger @gsurkov

# Documentation
/documentation/ @DrZlo13 @hedger @gsurkov @portasynthinca3
/scripts/toolchain/ @DrZlo13 @hedger @gsurkov

# Lib
/lib/stm32wb_copro/ @DrZlo13 @hedger @gsurkov @gornekich
/lib/digital_signal/ @DrZlo13 @hedger @gsurkov @gornekich
/lib/infrared/ @DrZlo13 @hedger @gsurkov
/lib/lfrfid/ @DrZlo13 @hedger @gsurkov @nminaylov
/lib/libusb_stm32/ @DrZlo13 @hedger @gsurkov @nminaylov
/lib/mbedtls/ @DrZlo13 @hedger @gsurkov @nminaylov
/lib/mjs/ @DrZlo13 @hedger @gsurkov @nminaylov @portasynthinca3
/lib/nanopb/ @DrZlo13 @hedger @gsurkov @nminaylov
/lib/nfc/ @DrZlo13 @hedger @gsurkov @gornekich
/lib/one_wire/ @DrZlo13 @hedger @gsurkov
/lib/subghz/ @DrZlo13 @hedger @gsurkov @Skorpionm
/lib/toolbox/ @DrZlo13 @hedger @gsurkov
/lib/toolbox/cli @DrZlo13 @hedger @gsurkov @portasynthinca3

# CI/CD
/.github/workflows/ @DrZlo13 @hedger @gsurkov
